{% extends 'groceries/base.html' %}

{% block title %}{{ bought_date }}{% endblock %}


{% block content %}
    <p></p>
    <h1>Here is everything bought by everybody on {{ bought_date }}!</h1>
    <p></p>
    <table id="tablePreview" class="table table-striped table-hover table-bordered">
    <!--Table head-->
        <thead>
        <tr>
            <th>Date Bought</th>
            <th>Flattie</th>
            <th>Item</th>
            <th>Cost</th>
            <th>Taken $$$ from Piggy</th>
        </tr>
        </thead>
        <!--Table head-->
        <!--Table body-->
        <tbody>
            {% for grocery in groceries %}

                <tr>
                    <td><a href="{% url 'bought_date_list' bought_date=grocery.bought_date %}">{{ grocery.bought_date }}</a></td>
                    <td><a href="{% url 'purchaser_list' person_id=grocery.person_id %}">{{ grocery.person }}</a></td>
                    <td>{{ grocery.item }}</td>
                    <td>${{ grocery.cost }}</td>
                    <td>{{ grocery.paid_date }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <!--Table body-->
    </table>

{% endblock %}