{% extends 'groceries/base.html' %}

{% block content %}
    <p></p>
    <table id="tablePreview" class="table table-striped table-hover table-bordered">
    <!--Table head-->
        <thead>
        <tr>
            <th>Date Bought</th>
            <th>Flattie</th>
            <th>Item</th>
            <th>Cost</th>
            <th>Taken $$$ from Piggy</th>
            <th>Date $$$ taken from Piggy</th>
        </tr>
        </thead>
        <!--Table head-->
        <!--Table body-->
        <tbody>
            {% for grocery in groceries %}

                <tr>
                    <td><a href="">{{ grocery.bought_date }}</a></td>
                    <td><a href="{% url 'purchaser_list' %}">{{ grocery.person }}</a></td>
                    <td>{{ grocery.item }}</td>
                    <td>${{ grocery.cost }}</td>
                    <td>Button here</td>
                    <td>{{ grocery.paid_date }}</td>
                </tr>

            {% endfor %}
        </tbody>

{% endblock %}